#logout {
	background: #333;
	color: #eaecee;
}
.well{
    background: rgba(250, 250, 250, 1);
}

textarea {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: none
}

.checkbox-custom {
    height: 34px;
}

.checkbox-custom input[type="checkbox"] {
    position: relative;
}

.dropdown_search_field {
	padding-left: 5px;
	padding-right: 5px;
}

#many-new-patients-loading-spinner p {
    text-align: left;
}

/* Custom fields in the Patients table on the View Study page */
table.dataTable tbody td.custom-field-value {
    padding: 0px;
}
td.custom-field-value a {
    width: 100%;
    display: block;
    padding: 13px;
}
td.custom-field-value a:link,
td.custom-field-value a:visited,
td.custom-field-value a:hover,
td.custom-field-value a:active {
    color: #333;
    text-decoration: none;
}
td.custom-field-value span.custom-field-edit-link {
    visibility: hidden;
    color: #428bca;
}
td.custom-field-value:hover span.custom-field-edit-link {
    visibility: visible;
}

.no-padding {
    padding: 0px;
    border: 0px;
}

.oneline {
    display: inline-block;
}