# core libraries
Django==1.11.28
Flask>=1.1.1

#pycryptodome>=3.9.0
pycrypto

# error reporting
raven[flask]>=6.8.0
cronutils>=0.2.3

# server requirement
#psycopg2==2.8.3
psycopg2-binary

# Keep these dependencies up to date
boto3~=1.12.39
pytz~=2019.3
ipython
django-extensions
djangorestframework==3.11.0
Flask-JWT-Extended==3.24.1
flask-cdn==1.5.3
requests==2.23.0
python-dateutil
Werkzeug~=1.0.1
us~=1.0.0
zipcodes~=1.1.0
PyGithub~=1.47
botocore~=1.15.39
iso3166~=1.0.1
jinja2
boxsdk

# redcap
PyCap

# cors
flask-cors

# fitbit
git+https://github.com/anibalsolon/python-fitbit.git@feature/friends_api_update#egg=fitbit

validate_email
