# core libraries
Django==1.11.27
Flask>=1.1.1

#pycryptodome>=3.9.0
pycrypto

# error reporting
raven[flask]>=6.8.0
#cronutils>=0.2.2
git+https://github.com/zagaran/cronutils@ce9e93cf05391285ceab2765722ae6f52327b4b3

# server requirement
psycopg2==2.8.3

# Keep these dependencies up to date
boto3
pytz
ipython
django-extensions
python-dateutil
