{% extends "base.html" %}

{% block head %}
  {{ super() }}
    <script src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.min.js"></script>
    <script>
    chart = {{ chart|safe }}
    $(document).ready(function() {
      $('#analysis_chart').DataTable( {
          "scrollX": true,
          'rowsGroup': [0],
          'createdRow': function(row, data, index) {
            for (let i = 2; i < data.length; i++) {
                if (data[i] == '{{ status_choices.running }}') {
                    $($('td', row).get(i)).addClass('bg-primary');
                }
                if (data[i] == '{{ status_choices.queued }}') {
                    $($('td', row).get(i)).addClass('bg-info');
                }
                if (data[i] == '{{ status_choices.success }}') {
                    $($('td', row).get(i)).addClass('bg-success');
                }
                if (data[i] == '{{ status_choices.error }}') {
                    $($('td', row).get(i)).addClass('bg-danger');
                }
                if (data[i] == '{{ status_choices.cancelled }}') {
                    $($('td', row).get(i)).addClass('bg-warning');
                }
            }
        },
          data: chart,
          columns: [
              {% for column_name in chart_columns %}
                { title: "{{ column_name }}" },
              {% endfor %}
          ]
      } );
    } );
    </script>
{% endblock %}

{% block title %}Forest Analysis Progress{% endblock %}

{% block content %}
  {% if params_conflict %}
    <div class="alert alert-warning">
      Warning: There are analyses on this study that were computed using different Forest parameters.
    </div>
  {% endif %}
  <table id="analysis_chart" class="display" width="100%"></table>
{%  endblock %}
