{% extends "base.html" %}

{% block title %}Forest Task Log{% endblock %}

{% block head %}
    {{ super() }}
    <script>window.filterableObjects = {{ forest_log|tojson }}</script>
    <script src="/static/javascript/app/survey-builder/controllers/filterable-list-controller.js"></script>
    <script>
      (function () {
        angular
          .module('surveyBuilder')
          .controller('ForestLogController', ['$controller', '$scope', function($controller, $scope) {
            $controller('FilterableListController', {$scope: $scope});
            $scope.modalLog = null
            $scope.showErrorModal = showErrorModal

            function showErrorModal(log) {
              $scope.modalLog = log
              $('#error-modal').modal('show')
            }
          }])
          .filter('trustAsResourceUrl', ['$sce', function ($sce) {
            return function(url) {
              return $sce.trustAsResourceUrl(url);
            }
          }])
      })()
    </script>
{% endblock %}

{% block content %}

<div ng-controller="ForestLogController">
    <div class="form-group col-sm-4">
      <input type="search" class="form-control" placeholder="Filter" ng-model="filterText" autofocus>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Created On</th>
            <th scope="col">Patient ID</th>
            <th scope="col">Tree</th>
            <th scope="col">Data Start Date</th>
            <th scope="col">Data End Date</th>
            <th scope="col">Status</th>
            {% if is_site_admin %}
              <th scope="col">Actions</th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="log in filterableObjects" ng-if="(log.created_on_display + log.patient_id + log.forest_tree_display + log.data_date_start + log.data_date_end + log.status).toLowerCase().includes(filterText.toLowerCase())">
            <td>{% raw %}{{ log.created_on_display }}{% endraw %}</td>
            <td>{% raw %}{{ log.patient_id }}{% endraw %}</td>
            <td>{% raw %}{{ log.forest_tree_display }}{% endraw %}</td>
            <td>{% raw %}{{ log.data_date_start }}{% endraw %}</td>
            <td>{% raw %}{{ log.data_date_end }}{% endraw %}</td>
            <td ng-class="{ {{ status_choices.queued }}: 'list-group-item-info',
                            {{ status_choices.running }}: 'list-group-item-primary',
                            {{ status_choices.success }}: 'list-group-item-success',
                            {{ status_choices.error }}: 'list-group-item-danger',
                            {{ status_choices.cancelled }}: 'list-group-item-warning'}[log.status]">
              {% raw %}{{ log.status }}{% endraw %}
            </td>
            {% if is_site_admin %}
              <td>
                <div>
                  <button class="btn-link" ng-click="showErrorModal(log)" style="padding: 0;">
                    View details
                  </button>
                </div>
                <div>
                  <a class="btn btn-link" ng-href="{% raw %}{{ log.download_url|trustAsResourceUrl }}{% endraw %}"
                     style="padding: 0;">
                    Download Chunked Data
                  </a>
                </div>
                <div ng-if="log.status === '{{ status_choices.queued }}'">
                  <form action="{% raw %}{{ log.cancel_url|trustAsResourceUrl }}{% endraw %}" method="post">
                    <button class="btn btn-link"
                            onclick="return confirm('This will stop this Forest task from running, are you sure you want to do this?')"
                            style="padding: 0;" type="submit">
                      Cancel Task
                    </button>
                  </form>
                </div>
              </td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal fade" id="error-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document" style="width: 60%;">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Forest Task Details</h4>
          </div>
          <div class="modal-body">
            <div class="panel panel-default">
              <div class="panel-heading">Task Metadata</div>
              <div class="panel-body">
                <dl style="margin-bottom: 0;">
                  <dt>Patient ID</dt>
                  <dd>{% raw %}{{ modalLog.patient_id }}{% endraw %}</dd>
                  <dt>Tree</dt>
                  <dd>{% raw %}{{ modalLog.forest_tree_display }}{% endraw %}</dd>
                  <dt>Data Date Start</dt>
                  <dd>{% raw %}{{ modalLog.data_date_start }}{% endraw %}</dd>
                  <dt>Data Date End</dt>
                  <dd>{% raw %}{{ modalLog.data_date_end }}{% endraw %}</dd>
                  <dt>Status</dt>
                  <dd>{% raw %}{{ modalLog.status }}{% endraw %}</dd>
                  <dt>Created On</dt>
                  <dd>{% raw %}{{ modalLog.created_on_display }}{% endraw %}</dd>
                </dl>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Processing Metadata</div>
              <div class="panel-body">
                <dl style="margin-bottom: 0;">
                  <dt>Total File Size</dt>
                  <dd>{% raw %}{{ modalLog.total_file_size || '--' }}{% endraw %}</dd>
                  <dt>Processing Start Timestamp</dt>
                  <dd>{% raw %}{{ modalLog.process_start_time || '--' }}{% endraw %}</dd>
                  <dt>Downloading Complete Timestamp</dt>
                  <dd>{% raw %}{{ modalLog.process_download_end_time || '--' }}{% endraw %}</dd>
                  <dt>Processing Complete Timestamp</dt>
                  <dd>{% raw %}{{ modalLog.process_end_time || '--' }}{% endraw %}</dd>
                  <dt>Forest Output Exists?</dt>
                  <dd>{% raw %}{{ modalLog.forest_output_exists || '--' }}{% endraw %}</dd>
                </dl>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Forest Details</div>
              <div class="panel-body">
                <dl style="margin-bottom: 0;">
                  <dt>Forest Version</dt>
                  <dd>{% raw %}{{ modalLog.forest_version || '--' }}{% endraw %}</dd>
                  <dt>Forest Parameters (Name)</dt>
                  <dd>{% raw %}{{ modalLog.forest_param_name || '--' }}{% endraw %}</dd>
                  <dt>Forest Parameters (Value)</dt>
                  <dd>
                    <p>
                      Note: If this task has not run yet, below shows the params that would be used if forest were to
                      run at the time this page was loaded (params can update as other tasks are run). If this task has
                      already run forest, below shows the params that were used when forest was run (which will not
                      change as other tasks are run).
                    </p>
                    <p style="font-family: Consolas, monospace; overflow-x: auto; white-space: pre-wrap;">{% raw %}{{ modalLog.params_dict }}{% endraw %}</p>
                  </dd>
                  <dt>Forest Parameters (Notes)</dt>
                  <dd>{% raw %}{{ modalLog.forest_param_notes || '--' }}{% endraw %}</dd>
                </dl>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">Task Log</div>
              <div class="panel-body">
                {# Note, because of the white-space: pre-wrap, whitespace between the p tags matters #}
                <p style="font-family: Consolas, monospace; margin-bottom: 0; overflow-x: auto; white-space: pre-wrap;">{% raw %}{{ modalLog.stacktrace || '--' }}{% endraw %}</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </div>
{% endblock %}
