/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  padding-top: 15px;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 26px; /* Vertically center the text there */
  color: rbg(191,81,0);
  background-color: white;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
