{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/libraries/bootstrap-datetimepicker.css"  type="text/css"/>
  <script type="text/javascript" src="../static/javascript/libraries/moment.js"></script>
  <script type="text/javascript" src="../static/javascript/libraries/transition.js"></script>
  <script type="text/javascript" src="../static/javascript/libraries/collapse.js"></script>
  <script type="text/javascript" src="../static/javascript/libraries/bootstrap-datetimepicker.js"></script>
  <script type="text/javascript" src="../static/javascript/data_download_page.js"></script>
  {# TODO: make a new js file for this page that does most of these things, this is temporary #}
{% endblock %}

{% block title %}View Study{% endblock %}

{% block content %}
  <h1>Run Forest</h1>
  <div class="container">
      <br><br>

      <div class="row well">
      <h3>Queue analysis for {{ study.name }}</h3>
        <form action="?" method="POST" id="create_forest_task_form">
          <br>


            {# Patient Selector #}
            <div class="col-sm-4">
              <div class="form-group">
                <label for="patient_selector">Patients</label>
                <select id="patient_selector" ng-model="selectedPatient" name="user_ids" class="form-control" size=12 multiple>
                  {% for participant in participants %}
                    <option>{{ participant }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Trees #}
            <div class="col-sm-4">
              <div class="form-group">
                <label for="tree_selector">Trees</label>
                <select class="form-control" name="trees" id="tree_selector" size=12 multiple>
                  {% for tree in trees %}
                    <option>{{ tree }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <br>

            {# Time Range #}
            <div class="row">
            {# Start Datetime #}
            <div class="col-sm-4">
              <div class="form-group">
                <label for="start_datetime">Start Date and Time</label>
                <div class="input-group date" id="start_datetimepicker">
                  <input type="text" class="form-control" name="time_start" id="start_datetime" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>

            {# End Datetime #}
            <div class="col-sm-4">
              <div class="form-group">
                <label for="end_datetime">End Date and Time</label>
                <div class="input-group date" id="end_datetimepicker">
                  <input type="text" class="form-control" name="time_end" id="end_datetime" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            </div>
          <br><br>

          <div class="row">
            <div class="col-sm-2">
              <input type="submit" class="btn btn-success" value="Create Forest Tasks" id="forest_task_submit_button" />
            </div>
            <div class="col-sm-10">
              <p id="explanation_paragraph" hidden><b>It may take several minutes to compile your data and download it as a .zip file. Do not click "Reload" or "Back" until your data finishes downloading. Once your data file downloads, you must reload this page before you can download another datafile.</b></p>
            </div>
          </div>
          </div>
        </form>
      </div>

    </div>

{% endblock %}