<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="./static/assets/img/favicons/favicon-32x32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Upload your screenshots">
    <meta name="author" content="Cameron Craddock">
    <link rel="stylesheet" href="./static/css/sticky-footer.css">
    <link rel="stylesheet" href="./static/css/bootstrap-4.min.css">
    <title>Upload your digital selfie!</title>

    <link rel="icon" href="./static/images/cropped-Slide1-32x32.jpg" sizes="32x32" />
    <link rel="icon" href="./static/images/cropped-Slide1-192x192.jpg" sizes="192x192" />
    <link rel="apple-touch-icon" href="./static/images/cropped-Slide1-180x180.jpg" />
    <meta name="msapplication-TileImage" content="./static/images/cropped-Slide1-270x270.jpg" />
</head>

<body>

    <main role="main" class="container">
        <div class="container">
            <div style="background:rgb(191,87,0) !important; color:white !important;" class="jumbotron">
                <h1>Upload Your Digital Selfie</h1>
                <p class="font-italic">Behavioral & Psychological Responses to the COVID-19 Pandemic: A SmartPhone Sensing Study</p>
            </div>


            <form class="border border-0 pt-4 pl-4 pr-4 pb-1 bg-white" action="#" method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <p >Please upload a "digital selfie" of your app usage by completing the steps at the bottom of this page (or a <a href="https://drive.google.com/open?id=1BnJnmM-GDughAHlyJnaH58sY05_Vhs1jR0yviHeAR6o"> more detailed step-by-step guide).</a> If you have problems, please email <a href="mailto:utcovid19study@austin.utexas.edu">utcovid19study@austin.utexas.edu</a></p>
		</div>

		{% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
			    <div id="callback" class="form-row alert alert-{{ category }}">{{ message}}</div>
                        {% endfor %}
		    {% else %}
                        <div id="callback" class="form-row alert"> </div>
                    {% endif %}
                {% endwith %}

                <div class="form-row form-group">
                    <input type="user-text-field" class="form-control" name="username" placeholder="Beiwe Username" autocomplete="username" required>
                </div>
                <div class="form-row form-group">
                    <input id="password-text-field" type="password" class="form-control" name="password" placeholder="Beiwe Password" autocomplete="current-password" required>
                </div>

                <div class="form-row form-group custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="user_files" multiple required>
                    <label class="custom-file-label pr-2" for="customFile">Choose file(s)</label>
                </div>

		<div class="form-row form-group ml-5 mt-2 mb-0" id="form-check">
                    <input type="checkbox" class="form-check-input" value="1" id="rr-1" name="rr[]" required>
                    <label class="form-check-label" for="rr-1">I have verified that these images contain only screen shots of my mobile
			    phone App usage that have been edited to remove any personally identifying information. The images do not
			    include any other content, specifically nothing of an offensive nature.</label>
                </div>

                <div class="form-row form-group">
                    <button type="submit" name="upload" value="upload" id="upload" class="btn btn-block btn-success float-right mt-3">Upload</button>
                </div>
            </form>

            <h4>iPhone instructions:</h4>
            <ol>
                <li>Open your phone's "Settings" app.</li>
                <li>Select "Screen Time."</li>
                <li>Select "See All Activity."</li>
                <li>Make sure you are toggled to view your usage for the week, NOT the day.</li>
                <li>Take a screenshot(s) of your app usage for the past week by pressing and
                    holding the home and power buttons simultaneously. Please crop the screenshot
		    to remove your device's name (e.g. Richard's iPhone) from the top of the image. 
		    You may need to take multiple screenshots to capture all the apps you used. </li>
                <li>Enter your Beiwe username and password above. Your username was sent to you 
		    when you completed Step 1 of the study. Your password is whatever you updated 
		    it to when you registered the Beiwe App.</li>
                <li>Select the "Choose file" button above and select your screenshots. Check the box
		    confirming that you are uploading app usage screenshots that have been cropped 
		    to remove personally identifying information and not anything of an offensive 
		    nature. The maximum allowed upload size is 5MB. Select "Upload."</li>
                <li>Go back to the Beiwe app, select "I have uploaded my digital selfie!" and submit. </li>
		<li>To make it easier to upload you next set of digital selfies, you could add a 
		    bookmark to this page using the center icon (box with arrow pointing upward) 
		    of Safari's bottom toolbar and allow the browser to save your username and password when asked.</li>
            </ol>
 
            <h4>Android instructions:</h4>
            <ol>

		    <li>Open the Android Settings from its Home screen shortcut</li>
		    <li>Select Digital wellbeing, a dashboard will open showing your total screen
			time for today surrounded by a circular chart that illustrates the breakdown of the time by App.</li>
		    <li>Open the detailed view by touching the screen time in the middle of the circle chart.</li>
		    <li>Using the left arrow under the bar chart of your daily usage, change the display date
			    to the first day (Sunday) of the current week.</li>
		    <li>Take a screenshot(s) of your app usage for the past week by pressing and holding the volume-down and 
			    power buttons simultaneously. You will need to take at least 7 screenshots: one for each day of the past week.</li>
                    <li>Enter your Beiwe username and password above. Your username was sent to you 
		        when you completed Step 1 of the study. Your password is whatever you updated 
		        it to when you registered the Beiwe App.</li>
                    <li>Select the "Choose file" button above and select your screenshots. Check the box
		        confirming that you are uploading app usage screenshots that have been cropped 
		        to remove personally identifying information and not anything of an offensive 
		        nature. The maximum allowed upload size is 5MB. Select "Upload."</li>
                    <li>Go back to the Beiwe app, select "I have uploaded my digital selfie!" and submit. </li>
		    <li>To make it easier to upload you next set of digital selfies, you could add a 
		        bookmark to this page using the three dots in the upper right hand corner 
			of the Chrome app and allow the browser to save your password when asked.</li>

            </ol>
        </div>
    </main>

    <footer class="footer">
        <div class="container text-center">
            <p class="font-italic">Copyright 2020, The University of Texas at Austin, <a href="https://bridgingbarriers.utexas.edu/whole-communities-whole-health/">Whole Communities Whole Health</p>
        </div>
    </footer>

    <script src="./static/javascript/libraries/jquery-3.5.0.min.js"></script>
    <script src="./static/javascript/libraries/popper.js"></script>
    <script src="./static/javascript/libraries/bootstrap-4.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('.custom-file input').change(function (e) {

		$(this).next('.custom-file-label').removeClass('alert-danger alert-success').html('');

		let total_file_size = 0;
		for (index = 0; index < e.target.files.length; index++) {
                    total_file_size += e.target.files[index].size / 1024 / 1024;
                }

		    if(total_file_size > 5) {
		        $(this).next('.custom-file-label').addClass('alert-danger').html(`${e.target.files.length} file(s) totalling ${total_file_size.toPrecision(4)} MB > 5MB`);
		    } else {
		        $(this).next('.custom-file-label').addClass('alert-success').html(`${e.target.files.length} file(s) totalling ${total_file_size.toPrecision(4)} MB`);
		    }

            });
        });

    </script>

</body>

</html>
