{% extends "base.html" %}

{% block title %}Edit Study {{ study.name }}{% endblock %}

{% block head %}
  {{ super() }}
  <script src="/static/javascript/edit_study.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

  <div class="row">
    <ol class="breadcrumb">
      <li>
        <a href="/manage_studies">Manage Studies</a>
      </li>
      <li class="active">
        {{ study.name }}
      </li>
    </ol>

    {% if study.is_test %}
      This is a test study. Researchers will be able to download raw data and processed data output from the Data Analysis Pipeline.
    {% else %}
      This is a production study. Researchers will only be able to download processed data output from the Data Analysis Pipeline.
    {% endif %}

    <h2>Authorized researchers on this study</h2>
    <table class="list-group table table-striped" width="100%">
      {% if not study.get_researchers() %}
        <p><i>No researchers are authorized to view or edit this study.</i></p>
      {% else %}
        <tr>
          <th>Researcher Username</th>
          <th>Permissions/Role</th>
          <th>Actions</th>
        </tr>

        {% for researcher_id, researcher_username, relationship, edit_researcher_is_site_admin in listed_researchers %}
          <tr>
            <td>
              <b>{{ researcher_username }}</b>
            </td>
            <td>
              {{ relationship }} &nbsp;&nbsp;
              {% if not edit_researcher_is_site_admin and not relationship == "Study Admin"%}
                <form action="/elevate_researcher" class="oneline" method="post">
                  <input type="hidden" name="study_id" value="{{ study.id }}"/>
                  <input type="hidden" name="researcher_id" value="{{ researcher_id }}"/>
                  <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
                  <button class="btn btn-link no-padding">
                    (Elevate to Study Admin
                    <span class="glyphicon glyphicon-arrow-up"></span>)
                  </button>
                </form>
              {% elif not edit_researcher_is_site_admin and researcher_id != session_researcher.id %}
                <form action="/demote_researcher" class="oneline" method="post">
                  <input type="hidden" name="study_id" value="{{ study.id }}"/>
                  <input type="hidden" name="researcher_id" value="{{ researcher_id }}"/>
                  <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
                  <button class="btn btn-link no-padding">
                    (Demote to Researcher
                    <span class="glyphicon glyphicon-arrow-down"></span>)
                  </button>
                </form>
              {% endif %}
            </td>
            <td>
              {% if not edit_researcher_is_site_admin and not relationship == "Study Admin" and researcher_id != session_researcher.id %}
                <form action="/remove_researcher_from_study" method="post">
                  <input type="hidden" name="study_id" value="{{ study.id }}"/>
                  <input type="hidden" name="researcher_id" value="{{ researcher_id }}"/>
                  <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
                  <button class="btn btn-link no-padding">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove from study
                  </button>
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </div>

  <div class="row">
    <h5>Authorize an additional researcher on this study:</h5>
    <form action="/add_researcher_to_study" method="post">
      <div class="form-inline">
        <select class="form-control" name="researcher_id">
          {% for researcher in administerable_researchers %}
            <option value="{{ researcher.id }}">{{ researcher.username }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="study_id" value="{{ study.id }}"/>
        <input type="hidden" name="redirect_url" value="{{ redirect_url }}"/>
        <button type="submit" class="btn btn-info add_researcher_to_study_button">Add researcher to study</button>
      </div>
    </form>
  </div>

  <br><br><br>

  <div class="row">
    <h2>App settings</h2>
    <a href="/device_settings/{{ study.id }}">Edit the types of data this study collects and the wording that study participants see in the app</a>
  </div>

  <br><br><br>
    <div class="row">
    <h2>Toggle Forest</h2>
    <p>Forest is currently {% if study.forest_enabled %}enabled{% else %}disabled{% endif %}.</p>
    <form action="/toggle_study_forest_enabled/{{ study.id }}" method="post">
      {% if study.forest_enabled %}
        <div class="col-md-2">
          <button class="btn btn-danger" type="submit">Disable Forest</button>
        </div>
      {% else %}
        <div class="col-md-2">
          <button class="btn btn-success" type="submit">Enable Forest</button>
        </div>
      {% endif %}
    </form>
  </div>

  <br><br><br>

  <div class="row">
    <h2>Set Study Timezone</h2>
    <form action="/set_study_timezone/{{ study.id }}" method="post">
      <div class="col-md-10">
        <h5>
          DO NOT CHANGE THE STUDY TIMEZONE AFTER YOU HAVE ALREADY SENT SURVEYS OUT TO PARTICIPANTS.  If you change the Study Timezone, Beiwe will immediately resend all previously sent absolute-date and relative-date surveys.
        </h5>
        <select class="form-control" name="new_timezone_name">
          {% for name, value in timezones %}
            <option value="{{ name }}" {% if name == study.timezone_name %}selected{% endif %}>{{ value }} </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md-2">
        <button class="btn btn-warning" type="submit">Update Timezone</button>
      </div>
    </form>
  </div>

  <div class="row">
    <h2>Rename study</h2>
    <form action="/rename_study/{{ study.id }}" method="post">
      <div class="col-md-10">
        <input type="text" name="new_study_name" value="{{ study['name'] }}" class="form-control">
      </div>
      <div class="col-md-2">
        <button class="btn btn-warning" type="submit">Update Name</button>
      </div>
    </form>
  </div>

  <br><br><br>

  <div class="row">
    <h2>Export/Import study settings</h2>
    <div class="col-md-6">
      <h4>Export {{ study['name'] }}'s App Settings and Surveys</h4>
      <p>Download a JSON file that contains {{ study['name'] }}'s App Settings (which data streams are turned on, what the timer durations and frequencies are, and what text appears in the app) and copies of all Surveys (including schedules, questions, and skip logic) and Audio Surveys (including schedules and voice recording prompts).</p>
      <a class="btn btn-success" href="/export_study_settings_file/{{ study.id }}">Export study settings JSON file</a>
    </div>
    <div class="col-md-6">
      <h4>Import another study's App Settings and/or Surveys into {{ study['name'] }}</h4>
      <form action="/import_study_settings_file/{{ study.id }}" method="post" enctype="multipart/form-data">
        <input type="file" name="upload" id="file_upload_selector">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="device_settings" value="true" checked>
            Overwrite {{ study['name'] }}'s App Settings with the App Settings in the file you upload
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="surveys" value="true" checked>
            Add new Surveys and Audio Surveys to {{ study['name'] }} that are copies of all the Surveys and Audio Surveys in the file you upload
          </label>
        </div>
        <button type="submit" id="file_upload_button" class="btn btn-warning" disabled="disabled">Import study settings file</button>
      </form>
    </div>
  </div>

  <br><br><br>

  <div class="row">
    <h2>Delete study</h2>
    <a class="btn btn-danger" onclick="confirm_delete_study('{{ study.name|replace("'", "")|replace('"', "") }}', '{{ study.id }}')">
      <span class="glyphicon glyphicon-trash"></span>&nbsp;Delete study</a>
  </div>

  <br><br><br><br>

  </tr>

{% endblock %}
