{% extends "base.html" %}
{% block title %}Participant Page{% endblock %}

{%  block content %}
  <div class="title">
    <h1> {{ participant }}</h1>
  </div>

  Participant{{ participant.patient_id }}

  <div class="form-group">
    {% if participant.device_id %}
      <form action="/reset_device" method="post">
        <div class="form-inline">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <b>Phone Registered: </b><button type="submit" class="btn btn-warning btn-sm reset_device_button">Un-Register Smartphone</button>
        </div>
      </form>
    {% else %}
      <b>Phone Registered: </b>No smartphone registered
    {% endif %}
  </div>

  <div class="form-group">
    {% if participant.os_type %}
      <b>Phone OS: </b>{{ participant.os_type }}
    {% else %}
      <b>Phone OS: </b><i>unknown</i>
    {% endif %}
  </div>

  <div class="form-group">
    <form action="/reset_participant_password" method="post">
      <div class="form-inline">
        <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
        <input type="hidden" name="study_id" value="{{ study.id }}">
        <button type="submit" class="btn btn-warning btn-sm reset_password_button">Reset password</button>
      </div>
    </form>
  </div>

  {% for intervention in study.interventions.all() %}
    <div class="form-group">
      <label class="col-xs-8 control-label">
        {{ intervention.name }}
        {% if participant.intervention_dates.filter(intervention=intervention).first().date %}
          <input name="intervention{{ intervention.id }}" class="form-control" type="date" value="{{ participant.intervention_dates.get(intervention=intervention).date.strftime(date_format) }}">
        {% else %}
          <input name="intervention{{ intervention.id }}" class="form-control" type="date">
        {% endif %}
      </label>
    </div>
  {%  endfor %}

  {% for field in study.fields.all() %}
    <div class="form-group">
      <label class="col-xs-8 control-label">
        {{ field.field_name }}
        <input name="field{{ field.id }}" class="form-control" type="text" value="{{ participant.field_values.get(field=field).value }}"
      </label>
    </div>
  {% endfor %}

  {% if not readonly %}
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
    {% endif %}
{%  endblock %}

