{% extends "base.html" %}
{% block title %}Participant Page{% endblock %}

{%  block content %}
  <div class="title">
    <h1> {{ participant }}</h1>
  </div>

  <ol class="breadcrumb">
    <li>
      <a href="/view_study/{{ study.id }}">{{ study.name }}</a>
    </li>
    <li class="active">
      Edit the attributes of participant {{ participant.patient_id }}
    </li>
  </ol>

  {#  <div class="participant_button">#}
  <form action="/reset_participant_password" method="post">
    <div class="form-inline">
      <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
      <input type="hidden" name="study_id" value="{{ study.id }}">
      <a class="btn btn-info" href='/dashboard/{{ study.id }}/patient/{{ participant.patient_id }}'>Go to Participant Dashboard</a>&nbsp;
      <button type="submit" class="btn btn-warning reset_password_button">Reset password</button>
    </div>
  </form>
  {#  </div>#}
  <br> <br>

  <div class="form-group">
    {% if participant.device_id %}
      <form action="/reset_device" method="post">
        <div class="form-inline">
          <input type="hidden" name="patient_id" value="{{ participant.patient_id }}">
          <input type="hidden" name="study_id" value="{{ study.id }}">
          <b>Phone Registered: </b><button type="submit" class="btn btn-warning btn-sm reset_device_button">Un-Register Smartphone</button>
        </div>
      </form>
    {% else %}
      <b>Phone Registered: </b>No smartphone registered
    {% endif %}
  </div>

  <div class="form-group">
    {% if participant.os_type %}
      <b>Phone OS: </b>{{ participant.os_type }}
    {% else %}
      <b>Phone OS: </b><i>unknown</i>
    {% endif %}
  </div>

  <form action="/view_study/{{ study.id }}/edit_participant/{{ participant.id }}" class="form-horizontal" method="POST">

    <h3>Interventions</h3>
    {% if study.interventions.count() > 0 %}
      {% for intervention in study.interventions.all() %}
        <div class="form-group">
          <label class="control-label col-sm-2" for="intervention{{ intervention.id }}" > {{ intervention.name }}</label>
            <div class="col-sm-2">
            {% if participant.intervention_dates.filter(intervention=intervention).first().date %}
              <input id="intervention{{ intervention.id }}" name="intervention{{ intervention.id }}" class="form-control" type="date" value="{{ participant.intervention_dates.get(intervention=intervention).date.strftime(date_format) }}">
            {% else %}
              <input id="intervention{{ intervention.id }}" name="intervention{{ intervention.id }}" class="form-control" type="date">
            {% endif %}
          </div>
        </div>
      {%  endfor %}
    {% else %}
      <p><b>This study does not have any Interventions.</b></p>
    {% endif %}

    <br>

    <h3>Custom Fields</h3>
    {% if study.fields.count() > 0 %}
      {% for field in study.fields.all() %}
        <div class="form-group">
          <label class="col-sm-2 control-label" for="field{{ field.id }}">{{ field.field_name }}</label>
          <div class="col-sm-4">
            <input id="field{{ field.id }}" name="field{{ field.id }}" class="form-control" type="text" value="{{ participant.field_values.get(field=field).value }}">
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p><b>This study does not have any Custom Fields.</b></p>
    {% endif %}



    {% if not readonly %}
      {% if study.interventions.count() > 0 or study.fields.count() > 0 %}
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      {% endif %}
    {% endif %}
  </form>
{%  endblock %}

