{% extends "base.html" %}

{% block title %}Manage Credentials{% endblock %}

{% block content %}
    <div class="container">

      <!-- firebase cert upload -->
      {% if not firebase_credentials_exists %}
        <h2>Upload a Firebase Notification Certificate</h2>
        <form action="/upload_backend_firebase_cert" method="post" class="form-horizontal" enctype="multipart/form-data">
        <!-- Submit button -->
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-6">
              <input type="file" name="backend_firebase_cert" id="backend_firebase_cert">
            </div>
            <br><br>
            <div class="col-xs-offset-3 col-xs-6">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </div>
        </form>
      {% else %}
      <br><br><hr>
        <h2>Delete or Overwrite the Existing Firebase Notification Certificate</h2>
        <form action="/upload_backend_firebase_cert" method="post" class="form-horizontal" enctype="multipart/form-data">
        <!-- Submit button -->
          <div class="form-group">
            <div class="col-xs-offset-3 col-xs-6">
              <input type="file" name="backend_firebase_cert" id="backend_firebase_cert">
            </div>
            <br><br>
            <div class="col-xs-offset-3 col-xs-6">
              <button type="submit" class="btn btn-primary">Upload</button>
            </div>
          </div>
        </form>
        <form action="/delete_backend_firebase_cert" method="post" class="form-horizontal">
          <div class="col-xs-offset-3 col-xs-6">
              <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
      {% endif %}
      <br><br>

    </div>

{% endblock %}
