{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script>filterableObjects = {{ api_keys | tojson }}</script>
    <script src="/static/javascript/app/survey-builder/controllers/filterable-list-controller.js"></script>
{% endblock %}

{% block title %}Manage Credentials{% endblock %}

{% block content %}
  <div class="container">
    <br>
    <div class="span-12">
      <h2>Reset Your Password</h2>

      <p><b>Don't forget your password!</b></p>
      <p>Beiwe does not store your email address, and has no other means of getting in contact with you.</p>
      <p><b>If you forget your password you will have to contact a Beiwe administrator to have it reset.</b></p>
      <p>The primary Beiwe administrator is Kenzie Carlson, she can be reached at <a href="mailto:kcarlson@hsph.harvard.edu"> kcarlson@hsph.harvard.edu</a>.</p>
    </div>

    <div class="well">
      <b>Passwords require all of the following:</b>
      <ul class="list">
        <li class="list-item">at least one lower case letter</li>
        <li class="list-item">at least one upper case letter</li>
        <li class="list-item">at least one numeric character</li>
        <li class="list-item">at least one special character (! @ # $ % ^ [ ] etc.)</li>
      </ul>
    </div>

    <form action="/reset_admin_password" method="post" class="form-horizontal">
      <!-- Current password -->
      <div class="form-group">
        <label for="current_password" class="control-label col-xs-3">Current Password:</label>
        <div class="col-xs-6">
          <input type="password" name="current_password" id="current_password" class="form-control" placeholder="Current Password"/>
        </div>
      </div>

      <!-- New password -->
      <div class="form-group">
        <label for="new_password" class="control-label col-xs-3">New Password:</label>
        <div class="col-xs-6">
          <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password"/>
        </div>
      </div>

      <!-- Confirm new password -->
      <div class="form-group">
        <label for="confirm_new_password" class="control-label col-xs-3">Confirm New Password:</label>
        <div class="col-xs-6">
          <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" placeholder="Confirm New Password"/>
        </div>
      </div>
      <br>

      <!-- Submit button -->
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-6">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
      </div>
    </form>

    <br><br>
    <hr>

    <!-- new credentials -->
    <div class="well">
        <div class="span-12">
            <h2>New Credentials</h2>
        </div>
      <form action="{{ url_for('admin_pages.new_api_key') }}" method="post" class="form-horizontal">
        <div class="form-group", style="margin-right: 0px; margin-left: 0px">
            <label for="readable_name">Choose a readable name for these credentials</label>
            <input type="text" class="form-control" name="readable_name" id="readable_name" value=""/>
        </div>
          <button type="submit" class="btn btn-primary" >Generate A New API Key</button>
      </form>

    </div>
  <hr>
  <!-- Current credentials -->
  <div class="span-12">
      <h2>Existing API keys</h2>
  </div>

  <div id="filterableList" ng-controller="FilterableListController">
    <div class="form-group col-sm-4">
      <input type="search" class="form-control" placeholder="Filter" ng-model="filterText" autofocus>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Public Key</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="apiKey in filterableObjects" ng-if="(apiKey.readable_name + apiKey.access_key_id).toLowerCase().includes(filterText.toLowerCase())">
            <td>{% raw %}{{ apiKey.readable_name }}{% endraw %}</td>
            <td>{% raw %}{{ apiKey.access_key_id }}{% endraw %}</td>
            <td>
              <form ng-if="apiKey.is_active" action="{{ url_for('admin_pages.disable_api_key') }}" method="post">
                <div style="display:none;" class=form-group>
                  <input type="text" class="form-control" name="api_key_id" value="{% raw %}{{ apiKey.access_key_id }}{% endraw %}"/>
                </div>
                <button type="submit" class="btn active btn-primary" onclick="return confirm('You are about to permanently disable this API Key for all users. Are you sure you want to do this?')">Disable Key</button>
              </form>
              <div ng-if="!apiKey.is_active">Disabled</div>
            </td>
          </tr>
        <tbody/>
      </table>
    </div>
  </div>
  <div class="span-12">
        <h2>Generate New Data-Download API Access Credentials</h2>

        <p><b>Warning: this will overwrite your current API access credentials</b> for the Data Download API!</p>
      </div>

      <br><br>

      <form action="/reset_download_api_credentials" method="post" class="form-horizontal">
        <!-- Submit button -->
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to reset your data-download API credentials? This will invalidate your current credentials (if you have them) and force you to use the new credentials.')">Reset Data-Download API Access Credentials</button>
          </div>
        </div>
      </form>
</div>



{% endblock %}
