{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script>filterableObjects = {{ api_keys|safe }}</script>
    <script src="/static/javascript/app/survey-builder/controllers/filterable-list-controller.js"></script>
{% endblock %}

{% block title %}Manage Credentials{% endblock %}

{% block content %}
    <div class="container">

      <br>

      <div class="span-12">
        <h2>Reset Your Password</h2>

        <p><b>Don't forget your password!</b></p>
        <p>Beiwe does not store your email address, and has no other means of getting in contact with you.</p>
        <p><b>If you forget your password you will have to contact a Beiwe administrator to have it reset.</b></p>
        <p>The primary Beiwe administrator is Kenzie Carlson, she can be reached at <a href="mailto:kcarlson@hsph.harvard.edu"> kcarlson@hsph.harvard.edu</a>.</p>
      </div>
      
      <div class="well">
        <b>Passwords require all of the following:</b>
        <ul class="list">
          <li class="list-item">at least one lower case letter</li>
          <li class="list-item">at least one upper case letter</li>
          <li class="list-item">at least one numeric character</li>
          <li class="list-item">at least one special character (! @ # $ % ^ [ ] etc.)</li>
        </ul>
      </div>

      <form action="/reset_admin_password" method="post" class="form-horizontal">
        <!-- Current password -->
        <div class="form-group">
          <label for="current_password" class="control-label col-xs-3">Current Password:</label>
          <div class="col-xs-6">
            <input type="password" name="current_password" id="current_password" class="form-control" placeholder="Current Password"/>
          </div>
        </div>

        <!-- New password -->
        <div class="form-group">
          <label for="new_password" class="control-label col-xs-3">New Password:</label>
          <div class="col-xs-6">
            <input type="password" name="new_password" id="new_password" class="form-control" placeholder="New Password"/>
          </div>
        </div>

        <!-- Confirm new password -->
        <div class="form-group">
          <label for="confirm_new_password" class="control-label col-xs-3">Confirm New Password:</label>
          <div class="col-xs-6">
            <input type="password" name="confirm_new_password" id="confirm_new_password" class="form-control" placeholder="Confirm New Password"/>
          </div>
        </div>
        <br>

        <!-- Submit button -->
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-primary">Change Password</button>
          </div>
        </div>
      </form>

      <br><br><hr>


    <!-- CD content -->
    <div class="span-12">
        <h2>API keys</h2>
    </div>

    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Public Key</th>
              <th scope="col">Tableau API Acess</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
                {% for api_key in api_keys_enabled | sort(attribute='access_key_id') %}
                    <form action="/disable_api_key" method="post">
                        <div style="display:none;" class=form-group invisible>
                            <input type="text" class="form-control" name="api_key_id" id="field_{{ api_key.access_key_id }}" value="{{ api_key.access_key_id }}"/>
                        <div/>
                        <tr>
                            <td>{{ api_key.readable_name }}</td>
                            <td>{{ api_key.access_key_id }}</td>
                            <td>{{ api_key.has_tableau_api_permissions }}</td>
                            <td>
                                <button type="submit" class="btn active btn-primary" onclick="return confirm('You are about to permanently disable this API Key for all users. Are you sure you want to do this?')">Disable Key</button>
                            </td>
                        </tr>
                    <form/>
                {% endfor %}
                {% for api_key in api_keys_disabled | sort(attribute='access_key_id') %}
                    <tr>
                        <td>{{ api_key.readable_name }}</td>
                        <td>{{ api_key.access_key_id }}</td>
                        <td>{{ api_key.has_tableau_api_permissions }}</td>
                        <td>Disabled</td>
                    </tr>
                {% endfor %}
          <tbody/>
        </table>
    </div>

    <ul class="list-group row">
        {% for api_key in api_keys | sort(attribute='access_key_id') %}
            {% if api_key.is_active %}
                <form action="/disable_api_key" method="post">
                <div style="display:none;" class=form-group invisible>
                    <input type="text" class="form-control" name="api_key_id" id="field_{{ api_key.access_key_id }}" value="{{ api_key.access_key_id }}"/>
                </div>
                <li class="list-group-item col-xs-8">
                    {% if api_key.readable_name == "" %}
                        {{ api_key.access_key_id }}
                    {% else %}
                        <strong>{{ api_key.readable_name }}</strong>: {{ api_key.access_key_id }}
                    {% endif %}
                </li>
                <li class="list-group-item col-xs-2">
                    {% if api_key.has_tableau_api_permissions %}
                        Tableau API Access
                    {% else %}
                        No Tableau API Access
                    {% endif %}
                </li>
                <div class="list-group col-xs-2">
                        <button type="submit" class="list-group-item btn-block active" onclick="return confirm('You are about to permanently disable this API Key for all users. Are you sure you want to do this?')">Disable Key</button>

                </div>
                </form>
            {% endif %}
        {% endfor %}

        {% for api_key in api_keys | sort(attribute='access_key_id') %}
            {% if not api_key.is_active %}
                    <li class="list-group-item col-xs-8 disabled">
                    {% if api_key.readable_name == "" %}
                        {{ api_key.access_key_id }}
                    {% else %}
                        <p class="font-weight-bold">{{ api_key.readable_name }}</p>: {{ api_key.access_key_id }}
                    {% endif %}
                    </li>
                <li class="list-group-item disabled col-xs-2">
                    {% if api_key.has_tableau_api_permissions %}
                        Tableau API Access
                    {% else %}
                        No Tableau API Access
                    {% endif %}
                </li>
                <li class="list-group-item disabled col-xs-2">Permanently Disabled</li>
            {% endif %}
        {% endfor %}
    </ul>




      <form action="/new_api_key" method="post" class="form-horizontal">

        <div class="form-group">
            <div class=form-group>
                    <label for="readable_name">Choose a new readable name for API credientials</label>
                    <input type="text" class="form-control" name="readable_name" id="readable_name" value=""/>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" name="api_permission" id="api_permission" checked>
                <label class="form-check-label" for="api_permission">Enable Tableau API</label>
            </div>

          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-primary" >Generate A New API Key</button>
          </div>
        </div>
      </form>

      <br><br>
    </div>
<!--

      <div class="span-12">
        <h2>Generate New Data-Download API Access Credentials</h2>

        <p><b>Warning: this will overwrite your current API access credentials</b> for the Data Download API!</p>
      </div>

      <br><br>

      <form action="/reset_download_api_credentials" method="post" class="form-horizontal">

        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to reset your data-download API credentials? This will invalidate your current credentials (if you have them) and force you to use the new credentials.')">Reset Data-Download API Access Credentials</button>
          </div>
        </div>
      </form>

      <br><br><hr>
      <!-- firebase cert uplod -->
      <div class="span-12">
        <h2>Upload a New Firebase Notification Certificate</h2>
      </div>
      <form action="/upload_firebase_cert" method="post" class="form-horizontal" enctype="multipart/form-data">
        <!-- Submit button -->
        <div class="form-group">
          <div class="col-xs-offset-3 col-xs-6">
            <input type="file" name="fileToUpload" id="fileToUpload">
          </div>
          <br><br>
          <div class="col-xs-offset-3 col-xs-6">
            <button type="submit" class="btn btn-primary">Upload</button>
          </div>
      </form>
      <br><br>
    </div>
-->
{% endblock %}
