{% extends "base.html" %}

{% block content %}
     <ol class="breadcrumb">
        <li>
            <a href="/view_study/{{ study.id }}">{{ study.name }}</a>
        </li>
        <li class="active">
            Patient Fields
        </li>
    </ol>

    <div class="row">
        <h2>Edit patient field values</h2>
    </div>

    <div class="row form-horizontal">
        <form action="/patient_fields/{{ patient.pk }}" method="POST">
            <table class="table">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {% for field in fields %}
                    <tr>
                        <td>
                            {{ field.field_name }}
                        </td>
                        <td>
                            <input type="text" name="{{ field.field_name }}" value="{{ patient.values_dict[field.field_name] }}">
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-warning btn-sm">Update</button>
        </form>
    </div>

{% endblock %}