{% extends "base.html" %}



{% block title %}Tableau{% endblock %}

{% block content %}

<script type='text/javascript' src='https://prod-useast-a.online.tableau.com/t/beiwedevalvin/views/my_workbook/Sheet1/caleb@zagaran.com/my_view'></script>
    <div class='tableauPlaceholder' style='width: 1488px; height: 706px;'>
        <object class='tableauViz' width='1488' height='706' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='&#47;t&#47;zuar' />
            <param name='name' value='Regional&#47;GlobalTemperatures' />
            <param name='tabs' value='yes' />
            <param name='toolbar' value='yes' />
            <param name='showAppBanner' value='false' />
            <param name='filter' value='iframeSizedToWindow=true' />
        </object>
    </div>

{% endblock %}