<html>
  <head>
    <meta charset="utf-8">
    <!--  In order to use promises, like this example, you will need to include this polyfill to add promises
        functionality to the built in Tableau WDC browser (it does not have ES6 functionality by default)  -->
    <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
    <script src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.2/js.cookie.min.js" type="text/javascript"></script>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>

    <script>
      (function() {
    // Create the connector object
    var myConnector = tableau.makeConnector();

    // Define the schema
    myConnector.getSchema = function(schemaCallback) {
        var cols = [
            {id: 'participant_id', dataType: tableau.dataTypeEnum.string,},
            {id: 'study_id', dataType: tableau.dataTypeEnum.string,},
            {id: 'date', dataType: tableau.dataTypeEnum.string,},
            {id: 'distance_diameter', dataType: tableau.dataTypeEnum.string,},
            {id: 'distance_from_home', dataType: tableau.dataTypeEnum.string,},
            {id: 'distance_traveled', dataType: tableau.dataTypeEnum.string,},
            {id: 'flight_distance_average', dataType: tableau.dataTypeEnum.string,},
            {id: 'flight_distance_standard_deviation', dataType: tableau.dataTypeEnum.string,},
            {id: 'flight_duration_average', dataType: tableau.dataTypeEnum.string,},
            {id: 'flight_duration_standard_deviation', dataType: tableau.dataTypeEnum.string,},
            {id: 'gps_data_missing_duration', dataType: tableau.dataTypeEnum.string,},
            {id: 'home_duration', dataType: tableau.dataTypeEnum.string,},
            {id: 'physical_circadian_rhythm', dataType: tableau.dataTypeEnum.string,},
            {id: 'physical_circadian_rhythm_stratified', dataType: tableau.dataTypeEnum.string,},
            {id: 'radius_of_gyration', dataType: tableau.dataTypeEnum.string,},
            {id: 'significant_location_count', dataType: tableau.dataTypeEnum.string,},
            {id: 'significant_location_entropy', dataType: tableau.dataTypeEnum.string,},
            {id: 'stationary_fraction', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_incoming_count', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_incoming_degree', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_incoming_length', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_incoming_responsiveness', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_outgoing_count', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_outgoing_degree', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_outgoing_length', dataType: tableau.dataTypeEnum.string,},
            {id: 'text_reciprocity', dataType: tableau.dataTypeEnum.string,},
            {id: 'call_incoming_count', dataType: tableau.dataTypeEnum.string,},
            {id: 'call_incoming_degree', dataType: tableau.dataTypeEnum.string,},
            {id: 'call_incoming_duration', dataType: tableau.dataTypeEnum.string,},
            {id: 'call_incoming_responsiveness', dataType: tableau.dataTypeEnum.string,},
            {id: 'call_outgoing_count', dataType: tableau.dataTypeEnum.string,},
            {id: 'call_outgoing_degree', dataType: tableau.dataTypeEnum.string,},
            {id: 'call_outgoing_duration', dataType: tableau.dataTypeEnum.string,},
            {id: 'acceleration_direction', dataType: tableau.dataTypeEnum.string,},
            {id: 'accelerometer_coverage_fraction', dataType: tableau.dataTypeEnum.string,},
            {id: 'accelerometer_signal_variability', dataType: tableau.dataTypeEnum.string,},
            {id: 'accelerometer_univariate_summaries', dataType: tableau.dataTypeEnum.string,},
            {id: 'device_proximity', dataType: tableau.dataTypeEnum.string,},
            {id: 'total_power_events', dataType: tableau.dataTypeEnum.string,},
            {id: 'total_screen_events', dataType: tableau.dataTypeEnum.string,},
            {id: 'total_unlock_events', dataType: tableau.dataTypeEnum.string,},
            {id: 'awake_onset_time', dataType: tableau.dataTypeEnum.string,},
            {id: 'sleep_duration', dataType: tableau.dataTypeEnum.string,},
            {id: 'sleep_onset_time', dataType: tableau.dataTypeEnum.string,},
          ];

        var tableSchema = {
            id: "earthquakeFeed",
            alias: "Earthquakes with magnitude greater than 4.5 in the last seven days",
            columns: cols
        };

        schemaCallback([tableSchema]);
    };

    // Download the data
    myConnector.getData = function(table, doneCallback) {
        $.getJSON("http://localhost:8080/api/v0/studies/123456789012345678901234/summary-statistics/daily", function(resp) {
            table.appendRows(resp);
            doneCallback();
        });
    };

    myConnector.init = function (initCallback) {
      tableau.authType = tableau.authTypeEnum.basic;

      // If we are in the auth phase we only want to show the UI needed for auth
      if (tableau.phase == tableau.phaseEnum.authPhase) {
        // Do nothing
      }

      if (tableau.phase == tableau.phaseEnum.gatherDataPhase) {
        // If the API that WDC is using has an endpoint that checks
        // the validity of an access token, that could be used here.
        // Then the WDC can call tableau.abortForAuth if that access token
        // is invalid.
      }

      // update ui?

      initCallback();

      // If we are not in the data gathering phase, we want to store the token
      // This allows us to access the token in the data gathering phase
      if (tableau.phase == tableau.phaseEnum.interactivePhase || tableau.phase == tableau.phaseEnum.authPhase) {
        if (hasAuth) {
          tableau.password = accessToken;

          if (tableau.phase == tableau.phaseEnum.authPhase) {
            // Auto-submit here if we are in the auth phase
            tableau.submit()
          }

          return;
        }
      }
    };

    tableau.registerConnector(myConnector);

    // Create event listeners for when the user submits the form
    $(document).ready(function() {
        $("#submitButton").click(function() {
            tableau.username = document.getElementById('access_key_id').value
            tableau.password = document.getElementById('access_key_secret').value
            tableau.connectionName = "USGS Earthquake Feed"; // This will be the data source name in Tableau
            tableau.submit(); // This sends the connector object to Tableau
        });
    });
});
      (function() {
        'use strict';
  
        // This config stores the important strings needed to
        // connect to the foursquare API and OAuth service to
        // gain authorization that we then exchange for an access  
        // token.
        //
        // Do not store your client secret here. 
        // We are using a server-side OAuth flow, and the client 
        // secret is kept on the web server. 
        var config = {
          clientId: 'YOUR_CLIENT_ID',
          redirectUri: 'http://localhost:3333/redirect',
          authUrl: 'https://foursquare.com/',
          version: '20190102'
        };
        //  more code goes here
  
        // This function parses the access token in the URI if available
        // It also adds a link to the foursquare connect button
        $(document).ready(function() {
          var accessToken = Cookies.get("accessToken");
          var hasAuth = accessToken && accessToken.length > 0;
    
          $("#connectbutton").click(function() {
            doAuthRedirect();
          });
    
          $("#getvenuesbutton").click(function() {
            tableau.connectionName = "Foursquare Venues Data";
            tableau.submit();
          });
        });
  
        // An on-click function for the connect to foursquare button,
        // This will redirect the user to a foursquare login
        function doAuthRedirect() {
          var appId = config.clientId;
          if (tableau.authPurpose === tableau.authPurposeEnum.ephemerel) {
            appId = config.clientId;  // This should be Desktop
          } else if (tableau.authPurpose === tableau.authPurposeEnum.enduring) {
            appId = config.clientId; // This should be the Tableau Server appID
          }
    
          var url = config.authUrl + 'oauth2/authenticate?response_type=code&client_id=' + appId +
            '&redirect_uri=' + config.redirectUri;
          window.location.href = url;
        }
  
        //------------- OAuth Helpers -------------//
        // This helper function returns the URI for the venueLikes endpoint
        // It appends the passed in accessToken to the call to personalize the call for the user
        function getVenueLikesURI(accessToken) {
          return "https://api.foursquare.com/v2/users/self/venuelikes?oauth_token=" +
            accessToken + "&v=" + config.version;
        }
  
        //------------- Tableau WDC code -------------//
        // Create tableau connector, should be called first
        var myConnector = tableau.makeConnector();
  
        // Init function for connector, called during every phase but
        // only called when running inside the simulator or tableau
        myConnector.init = function(initCallback) {
          tableau.authType = tableau.authTypeEnum.custom;
    
          // If we are in the auth phase we only want to show the UI needed for auth
          if (tableau.phase == tableau.phaseEnum.authPhase) {
            $("#getvenuesbutton").css('display', 'none');
          }
    
          if (tableau.phase == tableau.phaseEnum.gatherDataPhase) {
            // If API that WDC is using has an endpoint that checks
            // the validity of an access token, that could be used here.
            // Then the WDC can call tableau.abortForAuth if that access token
            // is invalid.
          }
    
          var accessToken = Cookies.get("accessToken");
          console.log("Access token is '" + accessToken + "'");
          var hasAuth = (accessToken && accessToken.length > 0) || tableau.password.length > 0;
    
          initCallback();
    
          // If we are not in the data gathering phase, we want to store the token
          // This allows us to access the token in the data gathering phase
          if (tableau.phase == tableau.phaseEnum.interactivePhase || tableau.phase == tableau.phaseEnum.authPhase) {
            if (hasAuth) {
              tableau.password = accessToken;
        
              if (tableau.phase == tableau.phaseEnum.authPhase) {
                // Auto-submit here if we are in the auth phase
                tableau.submit()
              }
        
              return;
            }
          }
        };
  
        // Declare the data to Tableau that we are returning from Foursquare
        myConnector.getSchema = function(schemaCallback) {
          var schema = [];
    
          var col1 = { id: "Name", dataType: "string"};
          var col2 = { id: "Latitude", dataType: "float"};
          var col3 = { id: "Longitude", dataType: "float"};
          var col4 = { id: "Address", dataType: "string"};
          var cols = [col1, col2, col3, col4];
    
          var tableInfo = {
            id: "FoursquareTable",
            columns: cols
          }
    
          schema.push(tableInfo);
    
          schemaCallback(schema);
        };
  
        // This function actually make the foursquare API call and
        // parses the results and passes them back to Tableau
        myConnector.getData = function(table, doneCallback) {
          var dataToReturn = [];
          var hasMoreData = false;
    
          var accessToken = tableau.password;
          var connectionUri = getVenueLikesURI(accessToken);
    
          var xhr = $.ajax({
            url: connectionUri,
            dataType: 'json',
            success: function (data) {
              if (data.response) {
                var venues = data.response.venues.items;
          
                var ii;
                for (ii = 0; ii < venues.length; ++ii) {
                  var venue = {'Name': venues[ii].name,
                    'Latitude': venues[ii].location.lat,
                    'Longitude': venues[ii].location.lng,
                    'Address' : venues[ii].location.address};
                  dataToReturn.push(venue);
                }
          
                table.appendRows(dataToReturn);
                doneCallback();
              }
              else {
                tableau.abortWithError("No results found");
              }
            },
            error: function (xhr, ajaxOptions, thrownError) {
              // WDC should do more granular error checking here
              // or on the server side.  This is just a sample of new API.
              tableau.abortForAuth("Invalid Access Token");
            }
          });
        };
  
        // Register the tableau connector, call this last
        tableau.registerConnector(myConnector);
  
  
      })();
    </script>
  </head>
  <body>
    <h1>JSON Placeholder Web Data Connector <br> Standard Connections</h1>
    <p>Example Web Data Connector demonstrating the Standard Connections feature <br>using the <a
        href="http://jsonplaceholder.typicode.com/">JSON Placeholder REST service</a>.</p>
    <label>Access Key Id:</label><input id="access_key_id" type="text">
    <label>Access Key Secret:</label><input id="access_key_secret" type="password">
    <button id="submitButton">Get Data</button>
    <div style="margin: auto; text-align: center; margin-top: 50px; max-width: 300px">
      <!-- These labels will toggle depending on whether the user is authenticated or not -->
      <p class="signedin">You are signed in!</p>
      <p class="notsignedin">You are not signed in, please click below to sign in to your Foursquare account.</p>
    
      <!-- The connect to Foursquare button will have a link added to it in the js-->
      <a href="#" id="connectbutton"><img src="./foursquare_connect.png" alt="Login with Foursquare"/></a>
      <br /><br />
    
      <!-- This button will pull the user's liked venues once the user is authenticated -->
      <p><a href="#" class="btn btn-primary btn-block" id="getvenuesbutton"><span class="glyphicon glyphicon-arrow-down"></span> Get Venues I Like</a></p>
    </div>
{#    <script type='text/javascript' src='https://prod-useast-a.online.tableau.com/javascripts/api/viz_v1.js'></script>#}
{#    <div class='tableauPlaceholder' style='width: 1862px; height: 873px;'>#}
{#      <object class='tableauViz' width='1862' height='873' style='display:none;'>#}
{#        <param name='host_url' value='https%3A%2F%2Fprod-useast-a.online.tableau.com%2F' />#}
{#        <param name='embed_code_version' value='3' />#}
{#        <param name='site_root' value='&#47;t&#47;beiwedevalvin' />#}
{#        <param name='name' value='Regional&#47;Obesity' />#}
{#        <param name='tabs' value='yes' />#}
{#        <param name='toolbar' value='yes' />#}
{#        <param name='showAppBanner' value='false' />#}
{#      </object>#}
{#    </div>#}
  </body>
</html>
