<html>
  <head>
    <meta charset="utf-8">
    <!--  In order to use promises, like this example, you will need to include this polyfill to add promises
        functionality to the built in Tableau WDC browser (it does not have ES6 functionality by default)  -->
    <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
    <script src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.2/js.cookie.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>

    <script>
      (function() {
        // Create the connector object
        var myConnector = tableau.make
          Connector();

        // Define the schema
        myConnector.getSchema = function(schemaCallback) {
            var cols = [
                {id: 'participant_id', dataType: tableau.dataTypeEnum.string,},
                {id: 'study_id', dataType: tableau.dataTypeEnum.string,},
                {id: 'date', dataType: tableau.dataTypeEnum.string,},
                {id: 'distance_diameter', dataType: tableau.dataTypeEnum.string,},
                {id: 'distance_from_home', dataType: tableau.dataTypeEnum.string,},
                {id: 'distance_traveled', dataType: tableau.dataTypeEnum.string,},
                {id: 'flight_distance_average', dataType: tableau.dataTypeEnum.string,},
                {id: 'flight_distance_standard_deviation', dataType: tableau.dataTypeEnum.string,},
                {id: 'flight_duration_average', dataType: tableau.dataTypeEnum.string,},
                {id: 'flight_duration_standard_deviation', dataType: tableau.dataTypeEnum.string,},
                {id: 'gps_data_missing_duration', dataType: tableau.dataTypeEnum.string,},
                {id: 'home_duration', dataType: tableau.dataTypeEnum.string,},
                {id: 'physical_circadian_rhythm', dataType: tableau.dataTypeEnum.string,},
                {id: 'physical_circadian_rhythm_stratified', dataType: tableau.dataTypeEnum.string,},
                {id: 'radius_of_gyration', dataType: tableau.dataTypeEnum.string,},
                {id: 'significant_location_count', dataType: tableau.dataTypeEnum.string,},
                {id: 'significant_location_entropy', dataType: tableau.dataTypeEnum.string,},
                {id: 'stationary_fraction', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_incoming_count', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_incoming_degree', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_incoming_length', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_incoming_responsiveness', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_outgoing_count', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_outgoing_degree', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_outgoing_length', dataType: tableau.dataTypeEnum.string,},
                {id: 'text_reciprocity', dataType: tableau.dataTypeEnum.string,},
                {id: 'call_incoming_count', dataType: tableau.dataTypeEnum.string,},
                {id: 'call_incoming_degree', dataType: tableau.dataTypeEnum.string,},
                {id: 'call_incoming_duration', dataType: tableau.dataTypeEnum.string,},
                {id: 'call_incoming_responsiveness', dataType: tableau.dataTypeEnum.string,},
                {id: 'call_outgoing_count', dataType: tableau.dataTypeEnum.string,},
                {id: 'call_outgoing_degree', dataType: tableau.dataTypeEnum.string,},
                {id: 'call_outgoing_duration', dataType: tableau.dataTypeEnum.string,},
                {id: 'acceleration_direction', dataType: tableau.dataTypeEnum.string,},
                {id: 'accelerometer_coverage_fraction', dataType: tableau.dataTypeEnum.string,},
                {id: 'accelerometer_signal_variability', dataType: tableau.dataTypeEnum.string,},
                {id: 'accelerometer_univariate_summaries', dataType: tableau.dataTypeEnum.string,},
                {id: 'device_proximity', dataType: tableau.dataTypeEnum.string,},
                {id: 'total_power_events', dataType: tableau.dataTypeEnum.string,},
                {id: 'total_screen_events', dataType: tableau.dataTypeEnum.string,},
                {id: 'total_unlock_events', dataType: tableau.dataTypeEnum.string,},
                {id: 'awake_onset_time', dataType: tableau.dataTypeEnum.string,},
                {id: 'sleep_duration', dataType: tableau.dataTypeEnum.string,},
                {id: 'sleep_onset_time', dataType: tableau.dataTypeEnum.string,},
              ];

            var tableSchema = {
                id: "StudyData",
                alias: "Data from the Beiwe WDC on study with id: '{{ study_id }}'",
                columns: cols
            };

            schemaCallback([tableSchema]);
        };

        // Download the data
        myConnector.getData = function(table, doneCallback) {
            $.getJSON("http://localhost:8080/api/v0/studies/{{ study_id}}/summary-statistics/daily", function(resp) {
                table.appendRows(resp);
                doneCallback();
            });
        };

        myConnector.init = function (initCallback) {
          tableau.authType = tableau.authTypeEnum.basic;

          // If we are in the auth phase we only want to show the UI needed for auth
          if (tableau.phase == tableau.phaseEnum.authPhase) {
            // Do nothing
          }

          if (tableau.phase == tableau.phaseEnum.gatherDataPhase) {
            // If the API that WDC is using has an endpoint that checks
            // the validity of an access token, that could be used here.
            // Then the WDC can call tableau.abortForAuth if that access token
            // is invalid.
          }

          // update ui?

          initCallback();

          // If we are not in the data gathering phase, we want to store the token
          // This allows us to access the token in the data gathering phase
          if (tableau.phase == tableau.phaseEnum.interactivePhase || tableau.phase == tableau.phaseEnum.authPhase) {
            if (hasAuth) {
              tableau.password = accessToken;

              if (tableau.phase == tableau.phaseEnum.authPhase) {
                // Auto-submit here if we are in the auth phase
                tableau.submit()
              }
              return;
            }
          }
        };

        tableau.registerConnector(myConnector);

        // Create event listeners for when the user submits the form
        $(document).ready(function() {
            $("#submitButton").click(function() {
                tableau.username = document.getElementById('access_key_id').value
                tableau.password = document.getElementById('access_key_secret').value
                tableau.connectionName = "Study: {{ study_id }}"; // This will be the data source name in Tableau
                tableau.submit(); // This sends the connector object to Tableau
            });
          });
      })();
    </script>
  </head>

  <body>
    <h1>Study Data Web Data Connector for Study Data</h1>
    <div>For the study with ID: {{ study_id }}</div>
    <label>Access Key Id:</label><input id="access_key_id" type="text">
    <label>Access Key Secret:</label><input id="access_key_secret" type="password">
    <button id="submitButton">Get Data</button>
  </body>
</html>
