{% extends "base.html" %}
{% block title %}Study Dashboard{% endblock %}

{#{% block head %}#}
{#{% endblock %}#}

{% block content %}

    <h1 class="h2"> {{ study_name }} Dashboard </h1>

    <table class="table table-striped table-bordered">
        <thead>
           <tr>
               <th class="h3"> Participant </th>
           </tr>
        </thead>
        {% for participant in participants %}
            <tr><td><a href="{{ study_id }}/patient/{{participant}}">{{participant}}</a></td></tr>
        {% endfor %}
    </table>

{% endblock %}
