{% extends "base.html" %}
{% block title %}Data Stream Dashboard{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/css/dashboard_pages.css"  type="text/css"/>
  <script src="/static/javascript/dashboard_features.js"></script>
  <script type="text/javascript">
    window.color_high_range = {{ 0 if color_high_range is none else color_high_range }};
    window.color_low_range = {{ 0 if color_low_range is none else color_low_range}};
    window.show_color = {{ 'true' if show_color == True else 'false' }};
    window.all_flags_list = {{ all_flags_list|safe }};
    window.base_next_url = "{{ base_next_url|safe }}";
    window.base_past_url = "{{ base_past_url|safe }}";
    {% if times %}
      window.start_date = new Date({{ times[0].year}}, {{times[0].month - 1}}, {{times[0].day }});
      window.end_date = new Date({{ times[-1].year}}, {{times[-1].month - 1}}, {{times[-1].day }});
    {% else %}
      window.start_date = new Date();
      window.end_date = new Date();
    {%  endif %}
  </script>
{% endblock %}

{% block content %}
  {#  ################## TOP OF PAGE CONTENT ################# #}

  <div class="title">
    <h1 class="h3"> Bytes {{ data_stream }} Data for {{ study_name }} Study
      <div class="choose_stream">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            {{ data_stream }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% for stream in data_stream_dict.keys()|sort if data_stream_dict[stream] != data_stream %}
                <li><a href="/dashboard/{{ study_id }}/data_stream/{{ stream }}">
                  {{   data_stream_dict[stream] }}</a>
                </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </h1>
  </div>

{#  ----------- ADDING DROP DOWN FILTER BAR HERE ---------------------- #}
{%  if times %}
  <div class="content" ng-controller='buttonController' id="bctrl">
    <div class="panel-group" id="accordion" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <a class="btn btn-warning edit_settings" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            {#    THIS IS WHERE TO ADD STUFF TO MAKE WIDGETS ON TOP      #}
              Edit Filter Settings <span class="caret"></span>
          </a>
          <div class="btn-toolbar flag_toolbar" role="toolbar">
            <div class="btn-group" role="group" ng-if="show_color">
              <button type="button" class="btn filter_bar color_grad">
                Color Gradient:
                <span class="gradient">{% raw %}{{ color_low_range }} {% endraw %} - {% raw %}{{ color_high_range }}{% endraw %}</span>
              </button>
              <input type="button" ng-click="removeColor()" value="x" class="btn btn-primary">
            </div>

            <div class="btn-group filter_flag_item" role="group" ng-repeat="flag in all_flags_list">
              <button type="button" class="btn filter_bar flag_filter">
                Flag Values: {% raw %}{{ flag[0] }} {{ flag[1] }}{% endraw %}
              </button>
              <input type="button" ng-click="removeFlag(flag)" value="x" class="btn btn-primary">
            </div>
          </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <div class="filters">
              <div class="well">
      {#           ------------- add the filter setting stuff here -------------#}
                <label class="checkbox-inline">
                  <input type="checkbox" ng-model="show_color">
                  Color Gradient
                </label>
                <div class="input-group mb-3 color_range_min">
                  <div class="input-group-addon">
                    <span class="input-group-number" id="basic-addon1">Minimum</span>
                  </div>
                  <input type="number" ng-model="color_low_range" class="form-control"
                         placeholder="Minimum">
                </div>
                <div class="input-group mb-3 color_range_max">
                  <div class="input-group-addon">
                    <span class="input-group-number" id="basic-addon1">Maximum</span>
                  </div>
                  <input type="number" ng-model="color_high_range" class="form-control"
                       placeholder="Maximum">
                </div>
                <div class="invalid_input" ng-if="evalColorRange()">
                  <p>Invalid Input: Please make sure Minimum is less than Maximum.</p>
                </div>
              </div>
              <div class="well">
                <div class="radio-buttons">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" ng-model="flag_operator" value=">"
                           id="greater_op">
                    <label class="form-check-label" for="greater_op">
                      Greater Than
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" ng-model="flag_operator" value="="
                           id="equal_op">
                    <label class="form-check-label" for="equal_op">
                      Equal To
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" ng-model="flag_operator" value="<"
                           id="less_op">
                    <label class="form-check-label" for="less_op">
                      Less Than
                    </label>
                  </div>
                </div>
                <div class="input-group mb-3 flag_value_input">
                  <div class="input-group-addon">
                      <span class="input-group-number" id="basic-addon1">Flag Value</span>
                  </div>
                  <input type="number" ng-model="flag_value" class="form-control"
                       placeholder="Flag Value">
                </div>
                <button class="btn btn-primary add_flag" type="button" ng-if="flagExists()" ng-click="addFlag()">
                  Add Flag
                </button>
                <div class="invalid_input" ng-if="!flagExists()">
                  <p>Invalid Input: Please make sure your flag is complete and unique.</p>
                </div>
              </div>
              <form action="#" method="post">
                <input name="color_high_range" type="hidden" id="color_high_range" value="{% raw %}{{ color_high_range }}{% endraw %}"/>
                <input name="color_low_range" type="hidden" id="color_low_range" value="{% raw %} {{ color_low_range }}{% endraw %}"/>
                <input name="all_flags_list" type="hidden" id="all_flags_list" value="{% raw %} {{ all_flags_list }} {% endraw %}"/>
                <button class="btn btn-primary save_settings" type="submit">
                  Save Current Filter Bar as Default Settings
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>


  {#  ------------------- NEW GENERAL CONTENT ----------------------------------#}
    <div class="date_bar">
      <div>
        {% if base_past_url %}
          <a ng-click="createNewUrl(base_past_url)" class="btn btn-primary">Previous Page</a>
        {% endif %}
      </div>
      <div>
        <input type="date" ng-model="start_date"
             min="{{ first_day }}" max="{{ last_day }}" />
        <input type="date" ng-model="end_date"
             min="{{ first_day }}" max="{{ last_day }}" />
        <a ng-click="createDateRangeUrl()" class="btn btn-primary">Submit</a>
      </div>
      <div>
        {% if base_next_url %}
          <a ng-click="createNewUrl(base_next_url)" class="btn btn-primary">Next Page</a>
        {% endif %}
      </div>
    </div>

    {#  ################# THE TABLE ################## #}
      <table class="table table-bordered" id="dashboard-datastream-table">
        <thead>
          <tr>
            <th> Participant ID </th>
            {% for time in range(times|length) %}
                <th>{{ times[time].strftime('%m/%d/%Y') }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for patient_id, byte_list in byte_streams.items() %} {# iterate over keys #}
            <tr>
              <th>
                <a href="/dashboard/{{ study_id }}/patient/{{ patient_id }}">
                  {{ patient_id }}
                </a>
              </th>
              {% for bytes in byte_list %} {# iterate over bytes in values #}
                {% if bytes == None %}
                  <td class="bytes" ng-style="calculateColor({{ 0 }})" data-number="0" >0</td>
                {% else %}
                  <td class="bytes" ng-style="calculateColor({{ bytes }})" data-number="{{ bytes }}">
                    {{ "{:,}".format(bytes) }}
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p> There is no data currently available for {{ data_stream }}</p>
    {% endif %}
  </div>

{% endblock %}
