{% extends "base.html" %}
{% block title %}Data Stream Dashboard{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/data_stream_dash.css"  type="text/css"/>
    <script src="/static/javascript/dashboard_coloration.js"></script>
    <script type="text/javascript">
        window.max = {{ 0 if max is none else max }};
        window.min = {{ 0 if min is none else min}};
        {#window.base_next_url = "{{ base_next_url }}";#}
        {#window.base_past_url = "{{ base_past_url }}";#}
    </script>
{% endblock %}

{% block content %}
    {#  ################## TOP OF PAGE CONTENT ################# #}
    <div class="title">
        <h1 class="h3"> {{ data_stream }} Data for {{ study_name }} Study
            <div class="choose_stream">
                {% if patient_ids %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ data_stream }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for stream in ALL_DATA_STREAMS %}
                                {% if data_stream_print.get(stream) != data_stream  %}
                                    <li><a href="/dashboard/{{ study_id }}/data/{{ stream }}">
                                        {{ data_stream_print.get(stream) }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </h1>
    </div>

    <div class="content" ng-controller='buttonController' id="bctrl">
        {#  ################# MIDDLE BUTTONS #################### #}
        {%  if times %}
            <div class="dates">
                <p>Viewing Dates: {{ times[0].strftime('%m/%d/%Y') }} - {{ times[-1].strftime('%m/%d/%Y')}}</p>
            </div>
            <div class="button_bar_upper">
                <div class="left_group">
                    <div class="input-group mb-3">
                        <div class="input-group-addon">
                            <span class="input-group-number" id="basic-addon1">Minimum</span>
                        </div>
                        <input type="number" ng-model="minimum" class="form-control"
                               placeholder="Minimum" aria-label="Minimum" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-addon">
                            <span class="input-group-number" id="basic-addon1">Maximum</span>
                        </div>
                        <input type="number" ng-model="maximum" class="form-control"
                               placeholder="Maximum" aria-label="Maximum" aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="right_group">
                    <form method="get" action="">
                        <input type="date" name="start"
                               value="{{ times[0] }}"
                               min="{{ first_day }}" max="{{ last_day }}" />
                        <input type="date" name="end"
                               value="{{ times[-1] }}"
                               min="{{ first_day }}" max="{{ last_day }}" />
                        <button type="submit" class="btn btn-primary" >Submit</button>
                    </form>
                </div>
            </div>
            <div class="button_bar_lower">
                <div>
                    {% if base_past_url %}
                        <a ng-href="{{ base_past_url }}&minimum={% raw %}{{ minimum }}{% endraw %}
                            &maximum={% raw %}{{ maximum }}{% endraw %}" class="btn btn-primary" >Previous Page</a>
                    {% endif %}
                </div>
                <div>
                    {% if base_next_url %}
                        <a ng-href="{{ base_next_url }}&minimum={% raw %}{{ minimum }}{% endraw %}
                            &maximum={% raw %}{{ maximum }}{% endraw %}" class="btn btn-primary" >Next Page</a>
                    {% endif %}
                </div>
            </div>

            {#  ################# THE TABLE ################## #}
            <table class="table table-bordered" id="dashboard-datastream-table">
                <thead>
                    <tr>
                        <th> Participant ID </th>
                        {% for time in range(times|length) %}
                                <th>{{ times[time].strftime('%m/%d/%Y') }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for p_id, byte_list in byte_streams.items() %} {# iterate over keys #}
                        <tr>
                            <th>
                                <a href="/dashboard/{{ study_id }}/patient/{{ p_id }}">
                                    {{ p_id }} </a>
                            </th>
                            {% for bytes in byte_list %} {# iterate over bytes in values #}
                                {% if bytes == None %}
                                    <td class="bytes" data-number="0" >0</td>
                                {% else %}
                                    <td class="bytes" ng-style="calculateColor({{ bytes }})" data-number="{{ bytes }}">
                                      {{ "{:,}".format(bytes) }}
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p> There is no data currently available for {{ data_stream }}</p>
        {% endif %}
    </div>

{% endblock %}