{% extends "base.html" %}
{% block title %}Study Dashboard{% endblock %}

{#{% block head %}#}
{#{% endblock %}#}

{% block content %}
    {#  ################## TOP OF PAGE CONTENT ################# #}
    <div class = "title">
        <h1 class="h3"> {{ participant }}
            <div style="float:right">
                {% if participants %}
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{ participant.patient_id }} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% for person in participants %}
                                <li><a href="/dashboard/{{ study_id }}/patient/{{ person }}">{{ person }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </h1>
    </div>

    {#  ################# MIDDLE BUTTONS #################### #}

    {%  if times %}
        <div class="dates">
            <p>Viewing Dates: {{ all_times[0].strftime('%m/%d/%Y') }} - {{ all_times[-1].strftime('%m/%d/%Y')}}</p>
        </div>
        <div class = "button_bar">
            <div>
                {% if past_url %}
                    <a href="{{ past_url }}" class="btn btn-primary" >Past Week</a>
                {% endif %}
            </div>
            <form method="get" action="#" >
                <input type="date" name="start"
                       value="{{ all_times[0] }}"
                       min="{{ first_day }}" max="{{ last_day }}" >
                <button type="submit" class="btn btn-primary" >Submit</button>
            </form>
            <div >
                {% if next_url %}
                    <a href="{{ next_url }}" class="btn btn-primary" >Next Week</a>
                {% endif %}
            </div>
        </div>

        {#  ################# THE TABLE ################## #}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th> Statistic </th>
                    {% for time in range(length) %}
                        {% if times[time] == -1 %}
                            <th class = "no_data"> {{ all_times[time].strftime('%m/%d/%Y') }}</th>
                        {% else %}
                            <th> {{ all_times[time].strftime('%m/%d/%Y') }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            {% for stream, byte_list in byte_streams.items() %} {# iterate over keys #}
                <tr>
                    <td> {{ stream }} </td> {# print name of data stream #}
                    {% for bytes in byte_list %} {# iterate over bytes in values #}
                        {% if bytes == -1 %}
                            <td> </td>
                        {% else %}
                            <td> {{ bytes }} </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p> There is no data currently available for {{ participant }}</p>
    {% endif %}
    <link rel="stylesheet" href="/static/css/participant_dash.css"  type="text/css"/>
{% endblock %}
